.containerForm{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: linear-gradient(to top right, rgb(220, 220, 220) ,rgb(26, 22, 22));
    height: calc(100vh - 80px);
}