@import "../styles/variables/Variables.scss";

.Form {
  width: 30%;
  background-color: $grayBlack;
  height: 85%;
  display: flex;
  flex-direction: column;
  padding: 35px 40px;
  justify-content: space-evenly;
  color: rgb(209, 192, 192);

  input {
    background-color: $grayWhite;
    border: none;
    padding: 10px 15px;
    color: $font-color;
  }
  ::placeholder {
    color: #d9d9d99a;
  }
  .Form_terms {
    display: flex;
    align-self: center;
    h4 {
      margin-left: 3px;
      font-size: 12px;
      a {
        color: $gold;
      }
    }
  }

  button {
    margin-top: 15px;
    padding: 10px;
    width: 30%;
    border: none;
    border-radius: 0;
    align-self: center;
  }

  .Form_updateImage {
    background-color: rgb(80, 90, 87);
    color: $font-color;
  }

  .Form_send {
    background-color: $gold;
    color: black;
  }
}

@media screen and (min-width: 320px) and (max-width: 720px) {
  .Form {
    min-width: 300px;
  }
}
@media screen and (min-width: 721px) and (max-width: 1000px) {
  .Form {
    width: 45%;
  }
}
