@import "../styles/variables/Variables.scss";

.Header {
  background-color: rgba(14, 12, 12, 0.466);
  color: $font-color;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 80px;
  .container-icon {
    user-select: none;
    .Header_icon {
      user-select: none;
    }
  }
  .Header_menu {
    list-style: none;
    display: flex;
    width: 30%;
    justify-content: space-around;
    user-select: none;
    font-size: 0.8em;
    li {
      display: inline-block;
      .link,
      a {
        font-weight: bold;
        text-decoration: none;
        color: $font-color;
      }
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 720px) {
  .Header {
    padding: 0px 15px;
    .Header_menu {
      width: 50%;
    }
  }
}
