@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");

$font: "Noto Sans KR", sans-serif;
$gold-2: #ffd553;
$black: rgb(10, 10, 10);
$gold: #1da1f2;
$grayBlack: rgb(24, 22, 22);
$grayWhite: rgb(29, 26, 26);
$font-color: #d9d9d9;
