@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

$font:'Noto Sans KR', sans-serif;
$background: rgb(235, 219, 178);
$black: rgb(10, 10, 10);
$gold: goldenrod;
$grayBlack: rgb(24, 22, 22);
$grayWhite: rgb(29, 26, 26);